.loginRegisterTitle{
    font-size: 45px;
    
}

.loginRegisterTitle-info{
    margin-bottom: 30px;
    font-size: 20px;
}

.pageNotFoundText{
    padding-top: 80px;
    text-align: center;
    color: rgb(39, 204, 216);
}

.trolleo{
    text-align: center;
    font-size: 2px;
}

