.inputSearch {
  width: 318px;
  border: solid 3px #17a2b8;
  border-radius: 6px;
  padding: 15px;
  margin-top: 15px;
}

.productContainer {
  border: solid 3px #17a2b8;
  border-radius: 6px;
  margin-top: 30px;
}

.container {
  // width: 90%;
  max-width: 100% !important;
}

.quantityInput {
  width: 45px;
  height: 38px;
}

.card {
  width: 18rem;
  // display: inline-table !important;
  margin-top: 10px;
  margin-right: 0;
  margin-left: 20px;
}

.card-img-top {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-text.descriptionProduct{
  height:100px!important;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-body {
  height: 300px;
}

.cardImgContainer{
  height: 15vw !important;

}